@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  @apply bg-black
}

/* Navbar */
.navLink {
  @apply tracking-tight font-normal text-[8px] items-center md:flex hidden transform cursor-pointer transition-all duration-200 opacity-85 hover:opacity-90 hover:drop-shadow-lg px-3 py-2 hover:bg-white hover:text-black rounded-full
}

.navLinkActive {
  @apply bg-white text-black rounded-full opacity-95 hover:opacity-100
}

.navActive {
  @apply flex fixed top-0 w-full h-[60px] z-50 bg-black/10 backdrop-blur-sm py-4 px-[10%] md:px-[5%] text-white transition-all duration-200 ease-linear opacity-100
}

.navHidden {
  @apply flex fixed w-full h-[60px] z-50 bg-black/10 backdrop-blur-sm py-4 px-[10%] md:px-[5%] text-white transition-all duration-200 ease-linear opacity-0
}

/* About */
#about {
  background: url(./assets/wave.gif);
}

#about {
  @apply bg-no-repeat bg-cover
}

/* Stats */

.statsNum {
  @apply text-[calc(2rem+3vw)] font-normal tracking-tight
}

.statsDesc {
  @apply text-[calc(.75rem+1.75vw)] font-extralight tracking-tight
}

/* Rocket Demo */
#demoList {
  @apply gap-6
}

#demoList li {
  @apply md:text-center px-3 py-2 border-red-600 border-2 rounded-3xl hover:bg-red-600 cursor-pointer hover:scale-105 transition-all duration-300 font-light tracking-tight
}

#demoList li span:nth-child(2) {
  @apply pl-2
}

/* Values */
#values::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(./assets/satelite1.jpg) center/cover;
  filter: brightness(50%) blur(2px);
  z-index: -1;
}

.valuesContent {
  @apply border bg-transparent text-white rounded-xl p-4 divide-y font-extralight tracking-tight transition-all duration-200 cursor-pointer hover:bg-white/95 flex flex-col hover:text-black hover:divide-black hover:shadow-2xl
}

/* Join */

#joinForm input,
textarea {
  @apply border-b-gray-400 focus:border-b-white transition-all ease-in
}

#numberInput::-webkit-inner-spin-button,
#numberInput::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#inputNumber {
  -moz-appearance: textfield;
  /* Firefox */
}

/* Research Hero */

#researchHero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(./assets/rndbg.png) center/cover;
  filter: brightness(50%) blur(2px);
  z-index: -1;
}

/* Research Gallery */

/* .rndGalleryImage {
  @apply
} */

#rndGalleryImageOne {
  background: url(./assets/test.jpeg) center/cover;
}

#rndGalleryImageTwo {
  background: url(./assets/oxygen.jpeg) center/cover;
}

#rndGalleryImageThree {
  background: url(./assets/transmitter.png) center/cover;
}

#rndGalleryImageFour {
  background: url(./assets/research.jpeg) center/cover;
}

/* Team */

#teamHero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(./assets/teamBg.png) center/cover;
  filter: brightness(35%) blur(1px);
  z-index: -1;
  border-bottom-left-radius: 150px 150px;
  border-bottom-right-radius: 150px 150px;
}

/* Explore */

#exploreHero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(./assets/exploreBg.png) center/cover;
  filter: brightness(50%) blur(2px);
  z-index: -1;
  border-bottom-left-radius: 150px 150px;
  border-bottom-right-radius: 150px 150px;
}

/* #exploreCarousel::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(./assets/exploreCarouselBg.png) center/cover;
  filter: brightness(20%) blur(2px);
  z-index: -1;
} */